body {
  margin: 0;
}

.mainMenu__container {
  background-color: #0c1821;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mainMenu__heading {
  color: white;
  margin: 0;
}

.mainMenu__instruction {
  color: white;
}

.game__nav {
  padding: 0.5rem;
  margin: 0;
  background-color: #324a5f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__container {
  height: 90vh;
}

.game__instruction--container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game__instruction--container .game__instructions {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #afc3d5;
  border-radius: 1rem;
  font-weight: 200;
}

.game__instruction--container .game__restartButton {
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0c1821;
  color: white;
  border: none;
  border-radius: 1rem;
}

.game__name--container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game__board--container {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.game__board--player1,
.game__board--cpu {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.game__board--player1 div,
.game__board--cpu div {
  border: solid 1px black;
}
